Adafruit-Blinka==8.30.0
adafruit-circuitpython-ahtx0==1.0.21
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-dps310==2.1.14
adafruit-circuitpython-ht16k33==4.6.7
adafruit-circuitpython-mcp9808==3.3.23
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==2.0.4
adafruit-circuitpython-sht4x==1.0.19
adafruit-circuitpython-tc74==1.0.17
adafruit-circuitpython-typing==1.9.6
adafruit-circuitpython-ssd1305
Adafruit-PlatformDetect==3.58.0
Adafruit-PureIO==1.1.11
adafruit-circuitpython-rgb-display
