Adafruit-Blinka
adafruit-circuitpython-ahtx0
adafruit-circuitpython-busdevice
adafruit-circuitpython-dps310
adafruit-circuitpython-ht16k33
adafruit-circuitpython-mcp9808
adafruit-circuitpython-register
adafruit-circuitpython-requests
adafruit-circuitpython-sht4x
adafruit-circuitpython-tc74
adafruit-circuitpython-typing
adafruit-circuitpython-ssd1305
Adafruit-PlatformDetect
Adafruit-PureIO
adafruit-circuitpython-charlcd
adafruit-circuitpython-rgb-display
