[Unit]
Description = turn the led off as a service.
After = network.target
 
[Service]
Type = oneshot
ExecStart= /usr/local/merlot/bin/lightsout.sh
User = root
Group = root
# Restart = on-failure
SyslogIdentifier = lightsout
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
